.gridHolder{
    height: 104vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: .6;
    overflow: hidden;
}

.dots_grid{
    /* margin: 1.4vw; */
    height: 36.08px;
    width: 36.08px;
    /* background: rgb(50, 52, 64); */
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
    pointer-events: all;
}
.dots_grid_main{
    height: 3.5px;
    width: 3.5px;
    background: white;
    border-radius: 10px;
}
.pbuton{
    display: flex;
    /* justify-content: flex-end; */
    /* position: absolute; */
    z-index: 999999;
    /* width: 100%; */
    left: 0;
    padding: 10px 0 20px;
}
.bttnwrap_Prop{
    display: flex;
    gap: 30px;
    padding: 0 30px;
}
.bttnsProps{
    height: 60px;
    padding: 0 20px;
    border-radius: 10px;
    width: fit-content;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
.bttnsProps p{
    color: white;
    font-size: 1rem;
}

@media screen  and (max-width: 600px){
    .dots_grid{
        margin: 5vw;
    }
    .pbuton{
        
        margin-left: -30px;
    }
}